@import "modules/responsive.scss";

@font-face {
	font-family: "VarelaRound";
	src: url('../fonts/VarelaRound-Regular.ttf');
}

$color: red;

body {
	font-family: 'VarelaRound';
}

h1 {
  width: percentage(5/7);
  color: $color;
  font-size: 3rem;
  text-decoration: none;
}

h2 {
	color: green;
	display: flex;
}


abbr {
	font-size: 20px;
}


h3 {
	background: red;
}


h5 {
	border-width: 10px;
}