@import "sprite.scss";
@import 'https://fonts.googleapis.com/css?family=Baloo+Chettan|Baloo+Paaji|Baloo+Tamma|Lato|Open+Sans|Oswald|Roboto|Slabo+27px';

@font-face {
	font-family: "VarelaRound";
	src: url('../fonts/VarelaRound-Regular.ttf');
}

$color: green;

body {
	//font-family: 'VarelaRound';

	font-family: 'Baloo Paaji', cursive;
}

h1 {
  width: percentage(5/7);
  color: $color;
  font-size: 4rem;
  text-decoration: none;
}

h2 {
	color: green;
	display: flex;
}


abbr {
	font-size: 20px;
}


h3 {
	background: red;
}


h5 {
	border-width: 10px;
}

.icon-back {
	@include svg-arrow(#6f0043);
}

@import "modules/responsive.scss";
